.r-color {
  background-color: #ffa0a0;
  color: #000;
  font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.cooler {
  font-size: 24px;
}

#one {
  color: #00f;
  font-size: 36px;
}

#another {
  background-color: #afa;
  font-size: 24px;
  font-weight: bold;
}
