@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.header a{
  color: #770;
  text-decoration: none;
}

.content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: .75em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.footer ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: #000
}
