body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

body > .flex-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  padding-left: 16px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 32px;
  font-weight: 900;
}

.content {
  flex-grow: 2;
  width: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  background: royalblue;
  box-sizing: border-box;
  padding-left: 16px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.cards {
  padding: 32px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 1em;
  flex: 0 0 300px;
}

.footer {
  flex: 0 0 32px;
  height: 72px;
  padding: 16px 0;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
