body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

p.para.small-para {
  font-size: 14px;
  font-weight: 800;
}

p.para {
  font-size: 22px;
}

button.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

button.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div div.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
